html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	cursor:default;
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
  font-family: 'Roboto';
}
body{
  background:#FAFAFA;
	font-size: 17px;
	font-family: 'Roboto';
	line-height: 1;
}
input{
	transition:all 300ms;
}

.content{
  display:block;
  padding:16px;
  background:#FAFAFA;
  padding-top:86px;
  transition: all 0.5s;
}
.content a{
  position:absolute;
  width:100%;
}

mdheader{
  color:#673AB7;
  font-weight:400;
}

/*Drawer*/
drawer{
  pointer-events:all;
  background:#FAFAFA;
  position:fixed;
  height:100%;
  width:300px;
  left:-300px;
  z-index:10;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.3);
  transition: left 0.3s;
}
scrim{
  pointer-events: none;
  position:fixed;
  background:transparent;
  width:100%;
  height:100%;
  z-index:10;
  top:0px;
  left:0px;
  transition: background 0.3s;
}
.drawerheader{
  background:#673AB7;
  height:180px;
  width:100%;
  object-fit: cover;
}

drawer .item{
  display: table;
  width:300px;
  height:45px;
  background:transparent;
  transition: background 0.3s;
}
drawer .item:hover, drawer .item:focus{
  background:rgba(0,0,0,0.05);
}
drawer .item:active{
  background:rgba(0,0,0,0.1);
}

drawer .item img{
  width:26px;
  height:26px;
  padding-left:16px;
  padding-top:9.5px;
  padding-bottom:9.5px;
}
drawer .item text{
  display: table-cell;
  vertical-align: middle;
  width:inherit;
  padding-left:20px;
	font-weight: 400;
}

drawer .itemselected{
  display: table;
  width:300px;
  height:45px;
  background:rgba(0,0,0,0.1);
  transition: background 0.3s;
}
drawer .itemselected img{
  width:26px;
  height:26px;
  padding-left:16px;
  padding-top:9.5px;
  padding-bottom:9.5px;
}
drawer .itemselected text{
  display: table-cell;
  vertical-align: middle;
  width:inherit;
  padding-left:20px;
	font-weight: 400;
}

drawer .divider{
  width:100%;
  height:1px;
  margin-top:8px;
  margin-bottom:8px;
  background:rgba(0,0,0,0.1);
}

/*Header View*/
.header{
  position:fixed;
  top:0;
  background:#673AB7;
  padding:5px;
  width:100%;
  height:60px;
  z-index:9;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.headerBrand {
  position:fixed;
  display: table;
  text-align: center;
  cursor: default;
  padding-left:5px;
}
.headerBrand title{
  display: table-cell;
  vertical-align: middle;
  padding-left:5px;
	color: #fff;
	font-size: 1.5em;
	font-weight: 400;
}
.headerItemsContainer {
  float:right;
  padding-right:5px;
}
.headerItem {
  width: 28px;
  height: 28px;
}
.headerItemRoot{
  float:left;
	border-radius: 50%;
	border: 0px;
	width: 28px;
  height: 28px;
  padding:16px;
  transition: background 0.25s;
}
.headerItemRoot:hover,.headerItemRoot:focus{
  background-color: rgba(255,255,255, 0.15);
}
.headerItemRoot:active{
  background-color: rgba(255,255,255, 0.2);
}

/*Buttons*/
.flat_button{
  background:transparent;
  color:#000;
  border:0px;
  border-radius:2.75px;
  padding:10px;
  outline:none;
  margin:16px;
  transition: background 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s;
  box-shadow:none;
}
.flat_button:hover,.flat_button:focus{
  background:#673AB7;
  color:#fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transform:scale(1.1);
}

.raised_button{
  background:transparent;
  color:#fff;
  background:#673AB7;
  border:0px;
  border-radius:2.75px;
  padding:10px;
  outline:none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.25s, transform 0.25s;
}
.raised_button:hover,.raised_button:focus{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transform:scale(1.1);
}

/*Cards*/
.card{
  margin:auto;
  border-radius: 3px;
  padding:12px;
  margin-top:16px;
  margin-bottom:16px;
	border: 0px;
	background-color:#ffffff;
	overflow:auto;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

