
.card{
  display:block;
  margin:auto;
  border-radius: 3px;
  padding:12px;
  margin-top:16px;
  margin-bottom:16px;
	border: 0px;
	background-color:#ffffff;
	overflow:auto;
	transition: all 0.25s;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card text{
  font-size:0.8em;
  margin-top:5px;
  white-space: pre-line;
}
.card p{
  font-size:0.8em;
  margin-top:5px;
  white-space: pre-line;
  text-indent: 25px;
}