* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	cursor:default;
	display: block;
	font-family:'Roboto';
	line-height: 1;
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.content{
  display:block;
  padding:16px;
  background:#FAFAFA;
  font-size: 17px;
  padding-top:86px;
  transition: all 0.5s;
}
.content a{
  position:absolute;
  width:100%;
}