mdheader{
  color:#673AB7;
  font-weight:400;
  white-space: pre-line;
}
scrim{
  pointer-events: none;
  position:fixed;
  background:transparent;
  width:100%;
  height:100%;
  z-index:10;
  top:0px;
  left:0px;
  transition: background 0.3s;
}